@model IEnumerable<Datalayer.Models.BlogEntryComment>

<div class="commentWrapper">

    @foreach (var item in Model)
    {
        @Html.DisplayFor(i => item.Author)<br />
        @Html.DisplayFor(i => item.CommentText)<br />
    }
</div>

