@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="Bakgrund-Styling">
    <p>Use this area to provide additional information.</p>
    <p>This site is to book meetings and have comunications between employees at örebro university and the sience around it.</p>
</div>